.user-title {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.user-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 1em;
  background-color: #e6d3ea;
  border-radius: 8px;
  margin-bottom: 0.7em;
  font-size: 0.9em;
}

.message-none {
  text-align: center;
  color: #bbb;
  font-size: 1em;
  margin: 2em 0;
  font-weight: 300;
  font-style: italic;
}
